.search-results-list {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    width: calc(100% - 50px);
    background-color: #FFF;
    top: 143px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    box-shadow: 0 18px 20px -5px #666;
    border-radius: 4px;
}
.search-results-list > div {
    width: calc(100% - 80px);
}
.search-results-list > div div {
    border-bottom: 1px solid;
}
.search-results-list > div div:last-child {
    border-bottom: none;
}
.search-results-list > div div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}
.search-results-list > div div a {
    color: #000;
    text-decoration: none;
}

@media only screen and ( min-width: 768px ) {
    .search-results-list {
        max-width: 718px;
    }
}

@media only screen and ( min-width: 930px ) {
    .search-results-list {
        max-width: 880px;
    }
}