.info-links-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.info-links-container a {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    text-decoration: unset;
}
.info-links-container a div {
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    box-shadow: 0 0 4px #BBB;
}
.info-links-container h4 {
    color: #000;
}

@media only screen and ( min-width: 768px ) {
    .info-links-container {
        max-width: 750px;
    }
    .info-links-container a {
        width: 152px;
        margin: 0 20px 20px 20px;
        text-decoration: unset;
    }
    .info-links-container a:first-child {
        margin-left: 0;
    }
    .info-links-container a:last-child {
        margin-right: 0;
    }
    .info-links-container a div {
        height: 200px;
    }
}

@media only screen and ( min-width: 930px ) {
    .info-links-container {
        max-width: 910px;
    }
    .info-links-container a {
        width: 193px;
        margin: 0 20px 20px 20px;
        text-decoration: unset;
    }
}