.body {
    padding: 0 10px;
}
.helper-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    border-bottom: 1px solid #999;
}
.links-list div:last-child {
    border-bottom: none;
}
.helper-links > div {
    display: flex;
    align-items: center;
}
.helper-links > div img {
    margin-right: 15px;
}