.sub-body {
    padding: 0 10px;
    background-color: #EEE;
}
.source-link-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 0 15px;
    margin-bottom: 20px;
}
.source-link div {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: 0px 1px 3px #555;
}
.source-link p {
    margin: 5px 0;
}
.sub-body > .platt-plus-banner:nth-child(2) {
    display: none;
}
.sub-center-body {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.todays-deal {
    width: 100%;
    box-shadow: 0px 2px 4px #999;
}

@media only screen and ( min-width: 768px ) {
    .sub-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .source-link-container {
        width: 100%;
        max-width: 748px;
    }
    .sub-body > .platt-plus-banner:nth-child(2) {
        display: flex;
    }
    .sub-center-body {
        flex-direction: row;
        justify-content: center;
        margin-bottom: none;
    }
    .sub-center-body .platt-plus-banner:nth-child(1) {
        display: none;
    }
    .sub-center-body .platt-plus-banner {
        display: none;
    }
    .sub-center-body > a:first-child {
        margin-right: 20px;
    }
    .todays-deal {
       width: 364px;
    }
}

@media only screen and ( min-width: 930px ) {
    .source-link-container {
        max-width: 910px;
    }
    .sub-center-body > a:first-child {
        width: unset;
    }
    .todays-deal {
        width: 445px;
    }
}