.helper-links-container {
    padding: 0 10px;
}
.helper-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    border-bottom: 1px solid #999;
}
.links-list div:last-child {
    border-bottom: none;
}
.helper-links > div {
    display: flex;
    align-items: center;
}
.helper-links > div img {
    margin-right: 15px;
}

@media only screen and ( min-width: 768px ) {
    .helper-links-container {
        padding: unset;
    }
    .helper-links-container > .helper-links {
        padding: 0;
        justify-content: center;
        border-bottom: none;
    }
    .links-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .helper-links > img {
        display: none;
    }
    .links-list .helper-links {
        justify-content: center;
        padding: 0;
        border: 1px solid #999;
        border-left: none;
        width: calc((100% - 2px) / 3);
    }
    .links-list .helper-links:nth-child(-n+3) {
        border-bottom: none;
    }
    .links-list .helper-links:nth-child(3n) {
        border-right: none;
    }
    .links-list .helper-links:last-child {
        border-bottom: 1px solid #999;
    }
}