.header {
    display: flex;
    justify-content: center;
    background-color: #017301;
}
.header > div {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px 25px 10px;
    height: 115px;
}
.header-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-row-1 > a img {
    width: 140px;
}
.header-row-1 div img:nth-child(1), .header-row-1 div img:nth-child(2), .header-row-1 div img:nth-child(4) {
    width: 23px;
}
.header-row-1 div img:nth-child(3) {
    width: 21px;
}
.header-row-1 div {
    width: 155px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media only screen and ( min-width: 768px ) {
    .header > div {
        max-width: 748px;
    }
}
@media only screen and (min-width: 930px) {
    .header > div {
        max-width: 910px;
    }
}