.platt-plus-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 30px 0;
    box-shadow: 0 0 4px #BBB;
    margin-bottom: 20px;
}
.platt-plus-banner > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.platt-plus-banner h3 {
    margin: 0
}
.platt-plus-banner span {
    color: #017301;
}
.platt-plus-banner > div a {
    text-decoration: unset;
}
.platt-plus-banner > div p {
    width: 255px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEE;
    border-radius: 25px;
    color: #000;
    font-size: 17px;
}

@media only screen and ( min-width: 768px ) {
    .platt-plus-banner {
        width: 100%;
        max-width: 748px;
        flex-direction: row;
        justify-content: space-between;
    }
    .platt-plus-banner > div {
        margin-right: 70px;
    }
    .platt-plus-banner img {
        margin-left: 70px;
    }
}

@media only screen and ( min-width: 930px ) {
    .platt-plus-banner {
        max-width: 910px;
    }
    .platt-plus-banner > div {
        margin-right: 90px;
    }
    .platt-plus-banner img {
        margin-left: 90px;
    }
}