.recently-viewed {
    background-color: #FFF;
    padding: 5px 15px 20px 15px;
    box-shadow: 0 0 4px #BBB;
}
.recently-viewed div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recently-viewed div:nth-child(1) a {
    color: #017301;
    font-weight: bold;
    text-decoration: none;
}
.recently-viewed div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and ( min-width: 768px ) {
    .recently-viewed {
        width: 334px;
        height: 137px;
    }
}

@media only screen and ( min-width: 930px ) {
    .recently-viewed {
        width: 415px;
        height: 173px;
    }
}